/* intro */
.heroVideo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}
.container {
  margin-top: 8em;
}

/* introEnd */

/* whatwedo */
.whatWeDo {
  font-size: 1.5em;
  /* border: 2px solid red; */
  margin-top: 50px;
}
.extend {
  font-size: 2em;
  line-height: 1em;
  text-decoration: none;
  cursor: pointer;
  transition: color 1s ease-in-out;
  color: var(--primary);
}
.whatWeDoContent {
  display: inline;
}
.extendActive {
  color: var(--tertiary);
}
.extend:hover {
  color: var(--tertiary);
}

.hidden2 {
  display: none;
}

/* whatWeDo end */
